$base-blue: #1567d2;
$base-dark-blue: #0617f8dc;
$base-yellow: #fac80f;
$base-orange: #ff9100;
$base-violet: #5a31f4;
$base-lilac: #a3a1f7;
$base-green: #2f9e00;
$base-redish: #f15f6f;
$base-grey: #e0e0e0;
$base-bg-grey: #eeeded7d;
$base-dark-grey: #c5c5c5;
$base-light-error: #fd010169;
$base-error: #ed4337;
$base-error-secondary: #f02f2fd8;
$base-success: #008d18;
$base-success-secondary: #3c811f;
$base-warning: #fac80f;
$base-warning-secondary: #f5b400;
$base-info: #2177d2;
$base-info-secondary: #1a28f1dc;
$base-white: #fafafa;
$base-dark: #2b2a2a;
$base-dark-secondary: #161616;

$base-shadow-1: #63636333 0px 2px 8px 0px;
$base-shadow-2: #6363631a 0px 0px 4px 0px;
$base-shadow-3: #00000026 0px 2px 8px;
$base-cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$base-button-transition: all 1s linear;
